.dashboard-wrapper{
    display: flex;
}

.navbar{
    width: 20vw;   
    height: 100vh;
    background: linear-gradient(90deg, rgba(14,71,190,1) 0%, rgba(39,58,181,1) 0%, rgba(60,117,237,1) 0%);
}

.dashboard{
    width: 80vw;
    height: 100vh;
    background-color: #e0e0e0;
}

.header-bar{
    background-color: white;
    padding: 1.5% 0;
}

.skills{
    background-color: white;
    margin: 2%;
    box-shadow: 3px 3px 5px 5px #888888;
}

.skills h3{
    padding: 1%;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
    background-color: #273AB5;
    color: white;
}

.skills-table{
    width: 100%;
    border-collapse: collapse;
}

.skills-table thead {
    font-weight: 600;
}

.skills-table tr{
    text-align: center;
    height: 100px;
}

.skills-table td{
    padding: 1%;
    border-bottom: 10px solid #e0e0e0;
    margin-top: 10px;

}

.skills-table:first-child {
    text-align: left;
}

.sk {
    margin-top: 100px;
}

.sk h3 {
    margin: 15px;

}



