.listItemWrapper  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height:75px;
    margin: 20px;
    box-shadow: 3px 3px 8px 4px #BDBDBD
    ;
    ;
}